*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.form-text {
    text-align: center;
}
.h2 {
    background-image: linear-gradient(
        to right,
        rgb(155, 155, 223),
        rgb(230, 144, 144)
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    margin-bottom: 6rem;
}
.section-form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    padding: 5rem;
    border: 1px solid rgb(63, 63, 87);
    border-radius: 5px;
    margin-bottom: 3rem;
}
.new-button{
    padding: .8rem 3rem;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background-color: rgb(241, 66, 12);
    border: 1px solid rgb(152, 245, 152);
    color: rgb(219, 241, 241);
}
.new-button:hover{
    background-color: rgb(218, 58, 10);
    color: rgb(231, 247, 247);;
}
.form-group:not(:last-child) {
    margin-bottom: 2rem;
}
.form-input {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(252, 252, 252);
    border-radius: 2px;
    display: block;
    width: 20rem;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgb(255, 195, 85);
}
.form-input:focus {
    outline: none;
    transition: all 0.4s;
    border-bottom: rgb(23, 34, 182) 3px solid;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.11);
}
.form-input:focus:invalid {
    border-bottom: rgb(182, 23, 23) 3px solid;
}
.form-input::-webkit-input-placeholder {
}
.label {
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
}
.form-input:placeholder-shown + .label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}
.button-box {
    text-align: center;
    margin-top: 4rem;
}
.button:link,
.button:visited {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 5rem;
    border-radius: 10px;
    background-color: rgb(206, 40, 40);
    border: 1px solid black;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
}
.button:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.199);
}
.button:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.199);
}
.button::after {
    content: "";
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
    z-index: -1;
    background-color: rgb(226, 219, 219);
}
.button:hover::after {
    transform: scale(1.5);
    opacity: 0;
}
.button-box .footer-left {
    margin-top: 2rem;
}
@media (max-width: 880px) {
    .h2 {
        background-image: linear-gradient(
            to right,
            rgb(155, 155, 223),
            rgb(230, 144, 144)
        );
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2.5rem;
        margin-bottom: 8rem;
    }
    .section-form {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 72.3%;
        left: 50%;
        padding: 3rem;
        border: none;
        border-radius: 5px;
    }
}